<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{menu}">
<th:block layout:fragment="content">
    <!--begin::Card-->
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">KTDatatable Methods
                    <span class="d-blocktext-muted pt-2 font-size-sm">Methods API examples</span></h3>
            </div>
            <div class="card-toolbar">
                <!--begin::Button-->
                <a th:href="@{/board/write}" class="btn btn-primary font-weight-bolder">
											<span class="svg-icon svg-icon-md">
												<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<circle fill="#000000" cx="9" cy="15" r="6" />
														<path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
													</g>
												</svg>
                                                <!--end::Svg Icon-->
											</span>New Record</a>
                <!--end::Button-->
            </div>
        </div>
        <div class="card-body">
            <!--begin: Search Form-->
            <!--begin::Search Form-->
            <div class="mb-7">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-xl-8">
                        <div class="row align-items-center">
                            <div class="col-md-4 my-2 my-md-0">
                                <div class="input-icon">
                                    <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query" />
                                    <span>
																	<i class="flaticon2-search-1 text-muted"></i>
																</span>
                                </div>
                            </div>
                            <div class="col-md-4 my-2 my-md-0">
                                <div class="d-flex align-items-center">
                                    <label class="mr-3 mb-0 d-none d-md-block">Status:</label>
                                    <select class="form-control" id="kt_datatable_search_status">
                                        <option value="">All</option>
                                        <option value="1">Pending</option>
                                        <option value="2">Delivered</option>
                                        <option value="3">Canceled</option>
                                        <option value="4">Success</option>
                                        <option value="5">Info</option>
                                        <option value="6">Danger</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 my-2 my-md-0">
                                <div class="d-flex align-items-center">
                                    <label class="mr-3 mb-0 d-none d-md-block">Type:</label>
                                    <select class="form-control" id="kt_datatable_search_type">
                                        <option value="">All</option>
                                        <option value="1">Online</option>
                                        <option value="2">Retail</option>
                                        <option value="3">Direct</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
                        <a href="#" class="btn btn-light-primary px-6 font-weight-bold">Search</a>
                    </div>
                </div>
            </div>
            <!--end::Search Form-->
            <!--end: Search Form-->
            <!--begin: Datatable-->
            <div class="card card-xl-stretch mb-5 mb-xl-8">
                <div class="card-body py-3">
                    <!--begin::Table container-->
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" id="table">
                            <!--begin::Table head-->
                            <thead>
                            <tr class="fw-bolder text-muted">
                                <th class="w-25px">
                                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                                        <input class="form-check-input" type="checkbox" value="1" data-kt-check="true" data-kt-check-target=".widget-9-check" />
                                    </div>
                                </th>
                                <th class="min-w-50px">번호</th>
                                <th class="min-w-140px">제목</th>
                                <th class="min-w-120px">작성자</th>
                                <th class="min-w-100px">등록일</th>
                                <th class="min-w-50px text-end">조회 수</th>
                                <th class="min-w-100px text-end">Actions</th>
                            </tr>
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody id="list">
                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    </div>
                    <!--end::Table container-->
                </div>
                <!--begin::Body-->
            </div>
            <!--end: Datatable-->
        </div>
    </div>
    <!--end::Card-->


</th:block>

<th:block layout:fragment="script">
   <!-- <script src="/assets/js/custom/pages/crud/ktdatatable/api/methods.js"></script>-->
   <!-- <script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>-->
    <script th:inline="javascript">
	/*<![CDATA[*/

		/**
		 * 페이지 로딩 시점에 실행되는 함수
		 */
		window.onload = () => {

			findAll();
		}

		/**
         * 게시글 리스트 조회
         */
        function findAll() {

            fetch('/api/boards').then(response => {
                if (response.ok) {
                            return response.json();
                }
            }).then(json => {
                let html = '';

                if (!json.length) {
                    html = '<td colspan="5">등록된 게시글이 없습니다.</td>';
                } else {
                    json.forEach((obj, idx) => {
                        html += `
                            <tr>

                                <td>
                                    <div class="form-check form-check-sm form-check-custom form-check-solid">
										<input class="form-check-input widget-9-check" type="checkbox" value="1" />
									</div>
                                </td>
                                <td>${json.length - idx}</td>
                                <td> ${obj.title} </td>
                                <td>${obj.writer}</td>
                                <td>${moment(obj.createdDate).format('YYYY-MM-DD HH:mm:ss')}</td>
                                <td class="text-end">${obj.hits}</td>
                                    <div class="d-flex justify-content-end flex-shrink-0">
                                        <a href="javascript: void(0);" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" onclick="goView(${obj.id})">
                                            <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
                                            <span class="svg-icon svg-icon-3">
																				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																					<path opacity="0.3" d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z" fill="black" />
																					<path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z" fill="black" />
																				</svg>
																			</span>
                                            <!--end::Svg Icon-->
                                        </a>
                                        <a href="javascript: void(0);" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" onclick="confirmDel(${obj.id})">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                            <span class="svg-icon svg-icon-3">
																				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																					<path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="black" />
																					<path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="black" />
																					<path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="black" />
																				</svg>
																			</span>
                                            <!--end::Svg Icon-->
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        `;
                    });
                }
                var table = document.querySelector('#table');

                document.getElementById('list').innerHTML = html;

                //페이징
                const tableRows = table.querySelectorAll('tbody tr');
                var datatable = $(table).DataTable({});

            });
        }

        /**
         * 게시글 조회
         */
        function goView(id) {
            location.href = `/board/view/${id}`;
        }
        function confirmDel(id) {
            Swal.fire({
				text: "정말 삭제 하시겠습니까?",
				icon: "warning",
				showCancelButton: true,
				buttonsStyling: false,
				confirmButtonText: "삭제",
				cancelButtonText: "취소",
				customClass: {
					confirmButton: "btn btn-primary",
					cancelButton: "btn btn-active-light"
				}
			}).then(function (result) {
				if (result.value) {
					fetch(`/api/boards/${id}`, {
                        method: 'DELETE',
                            headers: { 'Content-Type': 'application/json' },

                      }).then(response => {
                        if (!response.ok) {
                                throw new Error('Request failed...');
                        }

                       goList();

                      }).catch(error => {
                        alert('오류가 발생하였습니다.');
                      });
				}
			});
        }
        function goList() {
      	    location.href = '/board/list';
        }

	/*]]>*/
    </script>
</th:block>
</html>